/* Layout Hierachy: represented by z-index
   Paper: 0
      - Stencils: 1
        - attribution: 2
          - slider:; 3
      - Toolbars: 1
*/

body {
  user-select: none;
  font-family: 'Trebuchet MS';
}

/* Disable pointer events */
.waiting *
{
  cursor: not-allowed;
}

/* Adds waiting spinner to cursor */
.spinning *
{
    cursor: wait !important;
}

.header {
   padding: 0px;
}

#name {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 200px;
  height: 40px;
  text-align: center;
  margin: 0;
  padding-top: 10px;
  background-color: #333;
  color: #CCFFCC;
  font-size: 1.4em;
  font-style: italic;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover .dropdown-toolbar {
   display: block;
}

/* Paper */
#paper {
   position: absolute;
   top: 40px;
   left: 201px;
   right: 10px;
   bottom: 0;
   overflow: hidden;
   background-color: hsla(220,11%,97%,.95);
}

#paper .paper-scroller {
   width: 100%;
   height: 100%;
}

#paper svg {
   /* Grid background image */
   background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAHUlEQVQYV2NkYGAwBuKzQIwXMBJSAJMfVUidcAQAnUQBC6jEGBUAAAAASUVORK5CYII=');
   background-color: white;
   box-shadow: 1px 1px 1px lightgray;
}

#paper svg .drawable {
   /* Grid background image */
   fill: white;
   stroke: black;
   stroke-width: 1px;
}

.element.basic.Rect rect,
.element.basic.Circle circle,
.element.devs.Model rect {
   -webkit-svg-shadow: 2px 2px 5px gray;
}

.element.basic.Path path { -webkit-svg-shadow: 1px 1px 2px gray; }
.element.basic.Path path { fill: #3e3f47; }

/* Left panel */
.left-panel{
  position: absolute;
  left: 0;
  top: 45px;
  bottom: 0;
  width: 205px;
  overflow-y: scroll;
  background-color: #f9f9f9;
  box-shadow: 2px 0px 16px 0px rgba(0,0,0,0.2);
  /* Should be less than the modal pop-ups. TODO: Verify function with next state analysis. */ 
  z-index: 0;
}

/* Hides the left panel scroll bar */
.left-panel::-webkit-scrollbar {
  display: none;
}

.left-panel label {
  display: block;
  text-align: center;
  font-size: 15px;
  height: 18px;
  color: #bcbcbc;
}

/* Right Panel */
.inspector {
  position: absolute;
  right: 0px;
  top: 40px;
  bottom: 0px;
  width: 260px;
  overflow-y: scroll;
  background-color: #333;
  color: #bcbcbc;
  text-shadow: 0 -1px 0 #000;
  text-align: center;
}

.inspector input, .inspector textarea {
   box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1),0px 0 0 1px rgba(255,255,255,0.1);
   border: 1px solid black;
   height: 20px;
   line-height: 20px;
   resize: none;
}

.inspector label {
  margin: 14px 0px 8px 0px;
  font-size: 1.25em;
  display: block;
}

/* Customizes the right scroller */
.inspector::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #333;
}

.inspector::-webkit-scrollbar
{
	width: 10px;
	background-color: #333;
}

.inspector::-webkit-scrollbar-thumb
{
	border-radius: 10px;
  height: 20px;
	background-color: #AAAAAA;
}

#sat-value {
  background-color: rgba(36, 150, 255, 1) !important;
  color: white;
  font-size: 11px;
  font-weight: 200;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 0;
}

.inspector-btn-small {
  box-shadow: inset 0 -2px #dad8d8; /* Adds shadow  */
  position: relative;
  vertical-align: top;
  width: 30px;
  height: 23px;
  padding: 0;
  color: black;
  text-align: center;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 2px;
  margin-bottom: 5px;
}

.inspector-btn {
  -webkit-box-shadow: inset 0 -2px #dad8d8;
  box-shadow: inset 0 -2px #dad8d8;
  position: relative;
  vertical-align: top;
  width: 181px;
  height: 32px;
  padding: 0;
  color: black;
  text-align: center;
  border: 0;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 6px;
  margin-left: 10px;  /* Aligns the 3 buttons at the bottom of the left panel to the center */
  margin-right: 10px;
}

/* Add color overlay over the 3 buttons */
.inspector-btn:hover {
  background: #fffefe;
}

/*When the 3 buttons are clicked on a click effect happens */
.inspector-btn:active {
  background-color: #fffefe;
  box-shadow: inset 0 -2px #dad8d8;
  transform: translateY(2px);
}

/* Go button */
.inspector-btn-small:hover {
  background: #fffefe;
}

/* Add color overlay over the go buttons and click effect */
.inspector-btn-small:active {
  background-color: #fffefe;
  box-shadow: inset 0 -2px #dad8d8;
  transform: translateY(2px);
}

  /* Trash btn */
 .table-btn-small {
  background: #333333; 
  -webkit-box-shadow: inset 0 -2px #292929;
  box-shadow: inset 0 -2px #292929;
  width: 30px;
  height: 23px;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
} 

/* Add color overlay over the trash buttons and click effect */
.table-btn-small:hover {
  background: #424242;
}

/*Click effect */
.table-btn-small:active {
  background-color: #424242;
  box-shadow: inset 0 -2px #292929;
  transform: translateY(2px);
}

.blue-btn{
  background-color: rgba(36, 150, 255, 1) !important;
  -webkit-box-shadow: inset 0 -2px rgba(29, 122, 208, 1);
  box-shadow: inset 0 -2px rgba(29, 122, 208, 1);
  width: 160px;
  height: 25px;
  border-radius: 5px;
  font-size: 0.6em;
  margin-top: 12px;
}

#filter-apply {
  color: white;
  font-size: 15px;
}

.disabled-filter-clicked{
  background-color: #6C7278 !important;
  box-shadow: inset 0 -2px #6C7278 !important;;
}

/* Sets shadow for blue button right panel */
#filter-apply:active {
  background-color: rgba(36, 150, 255, 1);
  box-shadow: inset 0 -2px rgba(29, 122, 208, 1);
  transform: translateY(2px);
}

/* Halo */
.halo .box {
   display: none;
   color: #bcbcbc;
   font-size: 8px;
   background-color: #333;
   text-shadow: 0 -1px 0 #000;
   border: 1px solid #4f4f4f;
}

.paper .halo{
   background-color: transparent;
   box-shadow: none;
}

/* Toolbar */
.toolbar {
   position: absolute;
   top: 0px;
   left: 200px;
   right: 0;
   padding-left: 0px;
   z-index: 1;
   background-color: #333;
   border-top: none;
}

/* what's down here*/
/* Buttons on the tool bar: zoom out, zoom in, font size, evo slider*/
.btn {
   padding: 7px 10px;
   line-height: 30px;
   margin: 0;
   margin-left: 4px;
   cursor: pointer;
}

.toolbar .btn {
  background-color: #333;
  border: none;
  color: white;
  text-shadow: none;
  font-size: 0.75em;
}

.toolbar .btn:hover {
    background-color: #111;
}

.dropdown-toolbar {
  left: 0;
  z-index: 1;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-toolbar a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-toolbar a:hover {
  background-color: #E8E8E8;
}

.filter_checkbox{
  margin-top: 5px;
}

/* beggining of representative color slider */
#top-label-analysis {
  background-color: #333;
  border: none;
  color: white;
  text-shadow: none;
  font-size: 0.75em;
  margin: 0px;
  padding: 0px;
  position: relative;
  top: -16px;
  left: 80px;
}

#colorResetAnalysis {
  position: relative;
  top: -6px;
  width: 69px; /* 92 */
}

.on-off {
  font-size: 8px;
  color: white;
  position: relative;
  top: 5px;
  margin-top: -26px;
  margin-bottom: 0px;
  margin-left: 10px;
  }


.EVO-whole-button {
  display: inline-block;
  height: 35px;
  margin-top: 0px;
  margin-bottom: -20px;
  padding-top: 0px;
  padding-bottom: 0px;
}

/* portion of the code from: https://www.w3schools.com/howto/howto_js_rangeslider.asp */
.EVO-slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  height: 10px; /* Specified height */
  border-radius: 5px;
  background: #E8E8E8; /* white background */
  outline: none; /* Remove outline */
  opacity: .9; /* Set transparency (for mouse-over effects on hover) */
  transition: opacity .2s;
}

/* Mouse-over effects */
.EVO-slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.EVO-slider::-webkit-slider-thumb {
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 10px; /* Slider handle height */
  border-radius: 25%;
  background: #27ae60; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
.EVO-slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #27ae60; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

#nextStateSlider{
  width: 140px;
}
/* end of representive slider styling */

.inspectorFilterNames{
  padding-top: 20px;
}

.tableHeading{
  background-color: rgb(67, 67, 67); 
  text-align: center;
  font-size: 12px;
  height: 15px;
  color: white;
  padding: 4px;
}


.inspectorFilterTable {
  margin: 15px 5px 0px 15px;
  display:block;
  height:300px;
  overflow:auto;
}

/* Customizes the tables scroller */
.inspectorFilterTable::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: rgb(74, 74, 74);
}

.inspectorFilterTable::-webkit-scrollbar
{
	width: 7px;
	background-color: #333;
}

.inspectorFilterTable::-webkit-scrollbar-thumb
{
	border-radius: 10px;
  height: 20px;
	background-color: #ffffff;
}

.tableData{
  border: 1px solid;
  border-collapse: collapse;
  font-size: 11px;
  color:#ffffff;
  border-top: 1px solid #ddd;
  padding: 0px;
}

.disabled-textbox{
  background-color:#FFF;
}

.disabled-textbox-clicked{
  color: rgb(50, 50, 50) !important;
}

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 17px;
  justify-content: space-between;
  align-items: center;
  text-overflow: ellipsis;
}
