/**
 * Modal popup windows CSS.
 */

 .popup_frame {
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    padding-bottom: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 90%; /* Full height */
    overflow: scroll; /* Enable scroll if needed */
 }

 .popup_content {
    z-index: 10; /** Sit on top **/ 
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    color: black;
    border-radius: 20px;
 }

 .popup_header {
    padding: 2px 16px;
    background: #1E85F7;
    color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
 }

 .popup_body {
    padding: 2px 16px;
 }

 .popup_button {
    background-color: #1E85F7;
    color: white; 
    float: left;
    padding: 10px 20px;
    font-size:16px; 
 }

 .popup_button:hover,
 .popup_button:focus {
    background-color: black;
    color: white;
    text-decoration: none;
    cursor: pointer;
 }

 .popup_frame input[type="file"] {
    visibility: hidden;
}
#merge-button-without-layout {
    margin:5px;
}
#merge-button{
    margin: 5px;
}
.merge-buttons{
    display: flex;
    padding-bottom: 15px;
}


/* Adds sliding Animation for popup window */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* Adds sliding Animation for popup window */
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* Sets position and color of the Close button on "CMP" and "VAL" popups */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

/* When Close btn on modal popup is hovered over cursor is changed and text color */
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Sets position and color of the Close Intermtable Button */
.closeIntermT {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

/* When Close btn on Interm popup is hovered over cursor is changed and text color */
.closeIntermT:hover,
.closeIntermT:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* This section sets attributes for table within "View Assignments List" modal */
.abs-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    /*margin: auto;*/
    margin-bottom : 35px;
}

/* Sets padding and aligns entire "Absolute Intention Assignments" section */
.abs-table td, .abs-table th {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

/* Sets background color of Epoch Boundary Name row */
.abs-table tr:nth-child(even) {
    background-color: #dddddd;
}

/* Sets up the look of the input box, size and position */
.abs-table tr td input {
    width: 7em;
    font-size: 100%;
    color: black;
    border: none;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 12px 5px;
}

.abs-table tr td input[type=color] {
    padding: 0px !important;
}

/* Ends this section*/

/*Begins Interm table design section */
.intermBody {
    overflow: auto;
    border-radius: 20px;
}

/* Structures the "IVT" table in the popup  */
.interm-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom : 35px;
    table-layout: inherit;
}

/* Provides padding and organizes the intentions in the table */
.interm-table td, .interm-table th {
    border-top: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    height: 30px;
}

/* Provides padding and organizes the intention and its names in the table */
.intention-name {
    border-top: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    height: 30px;
}

.interm-table tr td input {
    font-size: 100%;
    color: black;
    border: none;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 12px 5px;
}

.rel-intent-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: auto;
}

.rel-intent-table td, .rel-intent-table th {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.rel-intent-table tr:nth-child(even) {
    background-color: #dddddd;
}

.intermBody tr:nth-child(even) {
    background-color: #dddddd;
}

.rel-intent-table tr td input {
    width: 4em;
    font-size: 100%;
    color: black;
}

/* Places the text "Intention" inside Interm modal */
.intentionPlace {
    z-index:9999;position:relative;top:23px;
}

/* Places text "Timeline" inside Interm modal */
.timePlace {
    z-index:9999;position:relative;top:-20px;left:100px;
}

/* Places Diagonal line inside Interm modal */
.diag { 
    position: relative; width: 50px; height: 5px; 
}

/* End of Interm table design*/


/* Sets width of tables aka horizontal lines on modal popup */
#link-list {
    width: 100%;
}

/* Sets cursor as a pointer when trying to add an Intention to modal */
#addIntent {
    cursor:pointer
}

/* Sets attributes on "Relationship" colum on "Absolute and Relative Assignments Modal"  */
#relationshipList {
    display: inline-block;
    border: 2px solid #bbb;
    padding: 4px 3px 3px 5px;
    margin: 0;
    font: inherit;
    outline:none; /* remove focus ring from Webkit */
    line-height: 1.2;
    background: #f8f8f8;
    width: 96px;
    -webkit-appearance:none; /* remove the strong OSX influence from Webkit */
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

/* Whenever an element is selected that element is focused on in Bloomingleaf, aka Input text when focused gets highlighted */
#relationshipList:focus{
    -webkit-box-shadow: 0 0 3px 1px #c00;
    -moz-box-shadow: 0 0 3px 1px #c00;
    box-shadow: 0 0 3px 1px
}

/* Positions the Relative Intention Assignemnts section to be grid like and organized */
.epochLists {
    position: relative;
    float: left;
    min-width: 200px;
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
    display: none;
}

/* on epochList, after each text "<>" is inserted right after on "View Assignments List" modal */
.epochLists:after {
    content: '<>';
    font: 17px "Consolas", monospace;
    color: #333;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 11px;
    /*Adjust for position however you want*/
    top: 5px;
    padding: 0 0 2px;
    border-bottom: 1px solid #999;
    position: absolute;
    pointer-events: none;
}

/* Sets attributes for epoch section when element is selected, on "View Assignments List" modal */
.epochLists select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    max-width: 180px;
    height: 30px;
    float: right;
    padding: 0px 24px;
    font-size: 16px;
    line-height: 1.75;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    -ms-word-break: normal;
    word-break: normal;
}

/* Sets attributes for "Requests" that are simulated on Analysis mode on the left panel*/
.result-elements {
    height: 30px;
    font-size: 16px; 
    border: none;
    box-shadow: -1px 0px 0px 0px rgb(71, 65, 65);
    outline: none;  
    width: 100%;
    margin-bottom: 1px;
}

/* Sets size and attribute of Requests & trash btns on left panel on Analysis mode */
.config-elements {
    height: 42px;
    font-size: 16px; 
    border: none;
    box-shadow: -1px 0px 0px 0px rgb(71, 65, 65);
    outline: none;  
    width: 71%;
    margin-bottom: 1px;
}

/* Sets attributes for inputs on left panel on Analysis mode */
.config-input {
    padding: 10px; 
    font-size: 16px; 
    border: 1px solid black; 
    width: 60%;
    outline: none;  
}

/* Sets attributes of dropdown btns carrot symbol on left panel on Analysis mode */
.dropdown-button {
    padding: 2px 7px 4px 7px; 
    font-size: 15px; 
    height: 42px; 
    width: 50%;
    border: none; 
    outline: none;
    float: left;
    }

/* Sets attributes and look of dropdown btns caret symbol on left panel on Analysis mode */  
.dropdown-container {
    display:block;
    width: 100%;
}

/* Sets attributes for trash btn on left panel on Analysis mode */
.deleteconfig-button {
    padding: 7px; 
    font-size: 16px; 
    height: 42px; 
    border: none; 
    outline: none;
    box-shadow: -1px 0px 0px 0px rgb(71, 65, 65);
    width: 50%;
    float: left;
    cursor: pointer;
}

/* Changes cursor to pointer when removing a constraint on "View Assignemnt List modal" */
#removeConstraint {
    cursor: pointer;
}

/* Sets margin for "Absolute Time Points" text input box on "Absolute and Relative Assignments modal" */
#abs-time-pts {
    margin-bottom:5px;
}

#header th {
    min-width: 200px;
    height: 30px;
    text-align: center;
}

/* Aligns 0 digit on "IVT" table on the right top corner*/
#intentionRows th:nth-child(n + 2) {
    text-align: center;
}

/* Creates division line on interm popup between "timeline" and "intention" labels */
.divisionLine {
    position: relative;
    z-index: 1;
    left: -12px;
    width: 199px;
    top: 19px;
    height: 1px;
    background-color: #dddddd;
    transform: rotate(15deg);
}

.timelisttable td {
    display: inline-block;
    height: fit-content;
    width: fit-content;
    text-align: center;
    margin: 2px;
}

.dropbox {
    padding: 5px;
    border: 1px solid black;
}

.dropbox button {
    display: block;
}

.popup_button_timing {
    background-color: #dddddd;
    border: 1px solid black;
    float: center;
    margin: 2px;
}

.between {
    min-height: 30px;
}

.dropbox.available {
    border: 1px solid #1E85F7;
}

.between.available {
    background-color: #1E85F7;
    min-width:10px;
}

.dropbox.draggedover {
    border: 4px solid #1E85F7;
}

.between.draggedover {
    border: 4px solid #1E85F7;
}

.startBox {
    border: 1px solid black;
    min-height: 25px;
    width: fit-content;
    min-width: 40px;
}

.startBox.available {
    border: 1px solid #1E85F7;
}

.startBox.draggedover {
    border: 4px solid #1E85F7;
}