.modal {
    display: none;  /*Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    color: black;
    border-radius: 20px;
}
/***/
#interm-list select{
  /*Don't really need this just for demo styling*/
  max-width: 180px
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */
  display: block;
  height: 30px;
  float: right;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  -ms-word-break: normal;
  word-break: normal;
}

/*Hide the intermTable dialog by default*/
.intermT {
    display: none;  /*Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/*Intermediate Values Content*/
.intermContent{
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 70%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  color: black;
  border-radius: 20px;
}

.intermHeader {
    padding: 2px 16px;
    background: #1E85F7;
    /*background-color: #5cb85c;*/
    color: white;
    border-top-radius: 40px;
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* The Close Intermtable Button */
.closeIntermT {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeIntermT:hover,
.closeIntermT:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background: #1E85F7;
    /*background-color: #5cb85c;*/
    color: white;
    border-top-radius: 40px;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    /*background-color: #5cb85c;*/
    color: white;
}

.abs-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    /*margin: auto;*/
    margin-bottom : 35px;
}

.abs-table td, .abs-table th {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.abs-table tr:nth-child(even) {
    background-color: #dddddd;
}

.abs-table tr td input {
    width: 7em;
    font-size: 100%;
    color: black;
    border: none;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 12px 5px;
}

/*Interm table design*/
.intermBody{
  overflow-x: scroll;
  overflow-y: scroll;

}

.interm-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    /*margin: auto;*/
    margin-bottom : 35px;
}

.interm-table td, .interm-table th {
    border-top: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.interm-table th{
  min-width: 50px;
}

.interm-table tr:nth-child(even) {
    background-color: #dddddd;
}
.interm-table tr:nth-child(2) {
    background-color: white;
}

.interm-table tr td input {
    width: 7em;
    font-size: 100%;
    color: black;
    border: none;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 12px 5px;
}

/**/
.rel-intent-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: auto;
}

.rel-intent-table td, .rel-intent-table th {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.rel-intent-table tr:nth-child(even) {
    background-color: #dddddd;
}

.rel-intent-table tr td input {
    width: 4em;
    font-size: 100%;
    color: black;
}

#link-list {
    width: 100%%;
}
#addIntent{
  cursor:pointer
}

#relationshipList{
  display: inline-block;
  border: 2px solid #bbb;
  padding: 4px 3px 3px 5px;
  margin: 0;
  font: inherit;
  outline:none; /* remove focus ring from Webkit */
  line-height: 1.2;
  background: #f8f8f8;
  width: 96px;
  -webkit-appearance:none; /* remove the strong OSX influence from Webkit */

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
#relationshipList:focus{
  -webkit-box-shadow: 0 0 3px 1px #c00;
  -moz-box-shadow: 0 0 3px 1px #c00;
  box-shadow: 0 0 3px 1px
}
.epochLists {
  position: relative;
  /*Don't really need this just for demo styling*/
  float: left;
  min-width: 200px;
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
display: none;
}

.epochLists:after {
  content: '<>';
  font: 17px "Consolas", monospace;
  color: #333;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 11px;
  /*Adjust for position however you want*/

  top: 5px;
  padding: 0 0 2px;
  border-bottom: 1px solid #999;
  /*left line */

  position: absolute;
  pointer-events: none;
}

.epochLists select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */

  display: block;
  width: 100%;
  max-width: 320px;
  height: 30px;
  float: right;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  -ms-word-break: normal;
  word-break: normal;
}
#removeIntention{
  cursor: pointer;
}

#abs-time-pts{
  margin-bottom:5px;
}
