/* Layout Hierachy: represented by z-index
   Paper: 0
      - Stencils: 1
        - attribution: 2
          - slider:; 3
      - Toolbars: 1
*/

body {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0;
  font-family: Arial;
}

body.waiting *
{
    cursor: wait !important;
}

.header {
   padding: 0px;
}

#swal2-content b{
  color: red;
}
#name {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 200px;
  height: 40px;
  text-align: center;
  margin: 0;
  padding-top: 8px;
  background-color: #333;
  color: #CCFFCC;
  font-size: 1.4em;
  font-style: italic;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover .dropdown-toolbar,
.dropdown:hover .dropdown-inspector {
   display: block;
}

/* Paper */
#paper {
   position: absolute;
   top: 40px;
   left: 201px;
   width: 100%;
   overflow: hidden;
   background-color: hsla(220,11%,97%,.95);
}

.joint-paper-scroller {
  padding: 0;
  width: 100%;
  height: 100%;
}

#paper {
   width: 80%;
   height: 95%;
}

#paper svg {
   /* Grid background image */
   /*background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAHUlEQVQYV2NkYGAwBuKzQIwXMBJSAJMfVUidcAQAnUQBC6jEGBUAAAAASUVORK5CYII=');*/
   background-color: white;
   box-shadow: 1px 1px 1px lightgray;
}

#paper svg .drawable {
   /* Grid background image */
   fill: white;
   stroke: black;
   stroke-width: 1px;
}

.element.basic.Rect rect,
.element.basic.Circle circle,
.element.devs.Model rect {
   -webkit-svg-shadow: 2px 2px 5px gray;
}

.element.basic.Path path { -webkit-svg-shadow: 1px 1px 2px gray; }
.element.basic.Path path { fill: #3e3f47; }


/* Left panel */
.left-panel{
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 0;
  width: 200px;

  background-color: #f9f9f9;
  box-shadow: 2px 0px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.stencil {
  position: absolute;
  left: 0;
  top: 14px;
  bottom: 0;
  right: 0;
  width: 100%;
  border: none;
}

.stencil .elements {
  height: 380px;
  text-shadow: none;
  background-color: transparent;
}

.left-panel label {
  display: block;
  text-align: center;
  font-size: 12px;
  line-height: 18px;
  height: 18px;

  background-color: #333;
  color: #bcbcbc;
  text-shadow: 0 -1px 0 #000;
  background-color: rgba(90, 90, 90, 1);
}

/* Right Panel */
.inspector {
  position: absolute;
  right: 0px;
  top: 0px;
  padding-top: 40px;
  width: 260px;
  height: 103%;
  /*padding: 10px;*/
  background-color: #333;
  color: #bcbcbc;
  text-align: center;
}

.inspector input,
.inspector textarea {
   color: black;
   text-shadow: none;
   box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1),0px 0 0 1px rgba(255,255,255,0.1);
   border: 1px solid black;
   background: white;
   height: 20px;
   line-height: 20px;
   resize: none;
   display: block;
   margin: 0 auto 0 auto;
/*   margin-left: auto;
   margin-right: auto;*/

}

.inspector label {
/*  margin: 14px 0 8px 0;*/
  margin: 14px 0px 8px 0px;
  font-size: 1.25em;
  display: block;
}

/* The left-side bar for analysisInspector and configInspector */
#container-sidebar { 
  left: auto; 
  width: 200px; 
  margin-top: 60px; 
}

#config-sidebar { 
  margin-top:100px; 
  width: 200px; 
  top: 60px;
  bottom: 0;
  position: absolute; 
}

#analysis-sidebar { 
  margin-top: 0px; 
}

#analysis-sidebar a{
  padding: 16px;
  display: block;
}

#analysis-sidebar a:hover {
  background-color: #E8E8E8;
}

.sub-label{
  font-size: 0.6em !important;
  text-align: center; 
}

.sub-input{
  width: 20px !important;
  font-size: 0.5em;
}

.sub-btn {
  position: relative;
  vertical-align: top;
  width: 50px;
  height: 23px;
  padding: 0;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  border: 0;
  cursor: pointer;
  margin-left: 5px;
}

.analysis-input {
  font-size: 0.7em;
  width: 165px;
  margin-bottom: 0px;
}


.dropdown-inspector {
  display: none;
  background-color: #f9f9f9;
  min-width: 240px;
}

.dropdown-inspector a {
  color: black;
  padding: 12px 16px;
  display: block;
}

.dropdown-inspector a:hover {
   background-color: #E8E8E8;
}

.dropdown:hover .dropdown-inspector {
   display: block;
}

.element-inspector input,
.element-inspector textarea {
  width: 215px;
  font-size: 0.9em;
  margin-bottom: 28px;
}

#function-div, #intension-div, #link-div, #query-div,#valuesDiv{
  width: 215px;
  text-align: center;
  margin: auto;
}

#init-sat-value, .actor-type, .function-type,
.function-sat-value, .user-defined-select, .repeat-select,
.relationship-select, .link-type, #conflict-level, #abs-vals,
#assigned-vals{
  background-color: #1E85F7;
  border-color: rgba(31, 121, 101, 1);
  color: white;
  font-size: 0.7em;
  font-weight: 200;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 0;
}

#init-sat-value:disabled {
  background-color: rgba(20, 85, 9, 1);
  color: white;
}
.function-type:disabled {
  background-color: rgba(20, 85, 9, 1);
  color: white;
}
#repeat-begin2,#repeat-begin3{
  margin: 10px 0 8px 0;
  text-align: left;
}
#repeat-end2, #repeat-end3{
  width: 101px;
  margin-top: 4px;
  margin-bottom: 8px;
  border-radius: 5px;
}
.user-defined-select, .repeat-select, .repeat-select2, .relationship-select{
  width: 104px;
  margin-bottom: 8px;
}

.query-select{
  float: right;
}

.user-defined-select:nth-child(1),
.repeat-select:nth-of-type(1),
.repeat-select2:nth-of-type(3),
.repeat-select3:nth-of-type(5),
#relationship-src{
  float: left;
  clear: left;
}

.user-defined-select:nth-child(2),
.repeat-select:nth-of-type(2),
.repeat-select2:nth-of-type(4),
.repeat-select3:nth-of-type(6),
#relationship-tar{
  float: right;
}

.user-defined-select{
  display: block;
}

.new-user-constraints:first-child{
  width: 100px;
  margin: 0 10px 10px 10px;
  float: left;
}

select > .select-placeholder {
  display: none;
}

.function-type{
  background-color: rgba(36, 150, 255, 1);
  border-color: rgba(29, 122, 208, 1);
}

.function-type, .function-sat-value{
  margin: auto;
  margin-bottom: 8px;
}

.inspector-error{
  display: block;
  font-size: 0.9em;
  margin: 0 0 12px 0;
  color: tomato;
  font-weight: 200;
}

.link-tools .tool-options{
   display: block;
}

.inspector-btn {
  position: relative;
  vertical-align: top;
  width: 200px;
  height: 40px;
  padding: 0;
  color: white;
  text-align: center;
  border: 0;
  cursor: pointer;
  border-radius: 6px;

  margin-top: 5px;
  margin-bottom: 5px;
}

.inspector-btn:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.cell-labels{
  margin: 0 6px 8px;
  float: left;
  font-size: 1em;
  font-weight: lighter;
}

#clear-query-btn{
  margin: 0;
}

#query-btn{
  margin: 16px 0;
}

.green-btn{ /*This button is actually blue.*/
  /*background: #27ae60;*/
  background: #1E85F7;
}

.dark-green-btn { 
  background-color: rgb(19, 156, 19) !important;
  -webkit-box-shadow: inset 0 -2px rgb(19, 156, 19);
  box-shadow: inset 0 -2px rgb(14, 102, 14);
}

.light-green-btn { 
  background-color: rgb(26, 201, 26) !important;
  -webkit-box-shadow: inset 0 -2px rgb(26, 201, 26);
  box-shadow: inset 0 -2px rgb(24, 172, 24);
}

.ice-btn{
  background: #00FFFF;
}

.blue-btn{
  background-color: rgba(36, 150, 255, 1) !important;
  -webkit-box-shadow: inset 0 -2px rgba(29, 122, 208, 1);
  box-shadow: inset 0 -2px rgba(29, 122, 208, 1);
}

.red-btn{
  background-color: #e74c3c !important;
  -webkit-box-shadow: inset 0 -2px #db4334;
  box-shadow: inset 0 -2px #db4334;
}

.small-btn{
  width: 160px;
  height: 25px;
  border-radius: 5px;
  font-size: 0.6em;
  margin-top: 12px;
}

#btn-forward-analysis{
  margin: 0;
}

#concatenate-btn{
  margin-bottom: 12px;
}

/* Halo */
.halo .box {
   display: none;
   color: #bcbcbc;
   font-size: 8px;
   background-color: #333;
   text-shadow: 0 -1px 0 #000;
   border: 1px solid #4f4f4f;
}

.paper .halo{
   background-color: transparent;
   box-shadow: none;
}

/* Toolbar */
.toolbar-div{
   position: absolute;
   top: 0px;
   left: 201px;
   right: 0;
   padding-left: 0px;
   z-index: 1;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
   background-color: #333;
}

.toolbar-div, #stencil {
   border-top: none;
}

#model-toolbar{
  display: inline;
}

/* beggining of representative color slider */

.slidecontainer {
  width: 100%; /* Width of the outside container */
}
#top-label{
  background-color: #333;
  border: none;
  color: white;
  text-shadow: none;
  font-size: 0.75em;
  margin: 0px;
  padding: 0px;
  position: relative;
  top: -15px;
  left: 5px;
}

#top-label-analysis{
  background-color: #333;
  border: none;
  color: white;
  text-shadow: none;
  font-size: 0.75em;
  margin: 0px;
  padding: 0px;
  position: relative;
  top: -15px;
  left: 105px;
}

#on-off{
  font-size: 8px;
  color: white;
  position: relative;
  top: 5px;
  margin-top: -26px;
  margin-bottom: 0px;
  margin-left: 10px;
  }
#colorReset{
  position: relative;
  top: -20px;
}
#colorResetAnalysis{
  position: relative;
  top: -6px;
  width: 92px; /* 92 */
}
.EVO-whole-button {
  cursor: pointer;
  display: inline-block;
  height: 35px;
  width: 100px;
  margin-top: 0px;
  margin-bottom: -20px;
  padding-top: 0px;
  padding-bottom: 0px;
}

/* portion of the code from: https://www.w3schools.com/howto/howto_js_rangeslider.asp */
.EVO-slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 50px; /* Full-width */
  height: 10px; /* Specified height */
  border-radius: 5px;
  background: #E8E8E8; /* white background */
  outline: none; /* Remove outline */
  opacity: .9; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

#modelingSlider {
  width: 100px;
}

#analysisSlider{
  width: 140px;
}

/* Mouse-over effects */
.EVO-slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.EVO-slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 10px; /* Slider handle height */
  border-radius: 25%;
  background: #27ae60; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
.EVO-slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #27ae60; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

/* end of representive slider styling */

/* end of representive slider styling */

.btn {
   padding: 5px 10px;
   line-height: 30px;
   margin: 0;
   margin-left: -5px;
   cursor: pointer;
}

.toolbar-div .btn {
  background-color: #333;
  border: none;
  color: white;
  text-shadow: none;
  font-size: 0.75em;
}

.toolbar-div .btn:hover {
    background-color: #DCDCDC;
    color:black;
}

#symbolic-btn {
   color: white;
   min-width: 80px;
}

#modeling-btn{
   min-width: 80px;
}

#analysis-btn {
  background: #27ae60;
  color: white;
  border-radius: inherit;
  min-width: 80px;
}
#cycledetect-btn{
  background: #ff1493;
  color: white;
  min-width: 80px;
}

.dropdown-toolbar {
  left: 0;
  z-index: 1;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-toolbar a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-toolbar a:hover {
  background-color: #E8E8E8;
}

/* Force-Directed layout */
#layout {
   border-bottom: 1px solid #333;
}

/* Slider */
#slider{
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
  z-index: 3;
}


#modeText{
   float: right;
   position: fixed;
   color: rgba(0,0,0,0.6);
   font-size: 1.3em;
   top: 50px;
   right: 270px;
}

/* Attribution */
div.attribution{
  position: fixed;
  bottom: 0;
  left: 30;
  color: #333333;
  width: 190px;
  font-size: 9px;
  z-index: 2;
  margin: 5px;
}

/* Rappid selection box */
.selection-box {
  display: none;
}
